name: Rust

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]


jobs:
  build:
    strategy:
      matrix:
        ci-action: [bundle, dinghy]
    runs-on: macOS-latest
    steps:
    - uses: actions/cache@v2
      with:
        path: |
          ~/.cargo/bin/
          ~/.cargo/registry/index/
          ~/.cargo/registry/cache/
          ~/.cargo/git/db/
          target/
        key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}

    - name: Install stable rust toolchain
      uses: actions-rs/toolchain@v1
      with:
        profile: default
        toolchain: stable
        target: x86_64-apple-ios

    - name: Install LLVM and Clang
      uses: KyleMayes/install-llvm-action@v1.5.0
      with:
        version: "13.0"

    - uses: actions/checkout@v2.4.0
    - uses: actions-rs/install@v0.1
      if: ${{ matrix.ci-action == 'dinghy' }}
      with:
        crate: cargo-dinghy
        version: latest

    - name: run cargo-dinghy
      if: ${{ matrix.ci-action == 'dinghy' }}
      run: make test

    - name: install cargo-bundle
      if: ${{ matrix.ci-action == 'bundle' }}
      run: cargo install cargo-bundle --git https://github.com/burtonageo/cargo-bundle.git

    - name: Run cargo-bundle
      if: ${{ matrix.ci-action == 'bundle' }}
      run: make bundle-run
